.card-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  padding: 2rem;
  height: 28em;
  width: 15em;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  transition: all 300ms;
}
.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  object-fit: fill;
}

.model-container {
  position: fixed;
  inset: 0px;
  background-color: #b19c8a;
  overflow: scroll;
}

.fullscreen-image {
  width: 80%;
  height: 80vh;
  margin: auto;
  margin-top: 5rem;
}

.fullscreen-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
