.card-container {
  width: 100%;
  columns: 3 300px;
  column-gap: 0.4em;
}

.card {
  overflow: hidden;
  transition: all 300ms;
}
.card:hover {
  transform: scale(1.01);
}

.card img {
  width: 100%;
  object-fit: fill;
  border-radius: 5px;
}

.model-container {
  position: fixed;
  inset: 0px;
  background-color: hsla(24, 24%, 34%, 0.7);
  overflow: scroll;
}

.fullscreen-image {
  width: 80%;
  height: 80vh;
  margin: auto;
  margin-top: 5rem;
}

.fullscreen-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
