:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #120f0e;
  background-color: #e0d4cc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* margin: 2rem; */
  width: 90%;
  max-width: 1500px;
  font-size: clamp(18px, 1vw, 30px);
  margin-inline: auto;
}

.main-heading {
  margin: 3rem;
  height: 2em;
  text-align: center;
  text-wrap: nowrap;
  font-weight: 600;
  font-size: clamp(35px, 4vw, 70px);

  text-decoration: underline;
  text-underline-offset: 2rem;
}

.error-boundary {
  height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
}

.error-boundary h1 {
  font-size: clamp(50px, 5vw, 120px);
}

.error-boundary p {
  font-size: clamp(10px, 2.5vw, 60px);
}

.error-boundary button {
  font-size: clamp(10px, 2.5vw, 60px);
}
